.todo-done {
    padding: 10px;
}

.todo-button-active button:hover {
    border-bottom: 1px solid rgb(14, 14, 14);
}

button:focus {
    border-bottom: 1px solid rgb(14, 14, 14);
}


button {
    background-color: rgb(237, 222, 247);
    border: none;
    border-bottom: 1px solid rgb(237, 222, 247);
    color: rgb(14, 14, 14);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    margin: 10px;
    cursor: pointer;
}
