@import './Variables.scss';

.App {
  @include center;

  min-height: 100vh;
  background-color: $light;
  font-size: calc(10px + 1.7vmin);
  color: $black;

  header {
    padding: 20px;
    border-bottom: 1px solid $bright;
    box-shadow: 0 0 8px 6px $bright;
  }
}

.todo {
  margin-top: 40px;

  button {
    @include center;
    @include decoration;

    background-color: $white;
    border: 1px solid $bright;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 10px !important;
    font-size: 17px;
    cursor: pointer;

    &:hover{
      border: 1px solid $grey;
    }
  }
}

.todo-button-delete-all-complete {
  margin-top: 60px;
}

.todo-complete {
  padding: 10px;
  border-bottom: 1px solid $grey;
}  

.todo-list {
  text-align: left;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.todo-input {
  margin: 30px 0;
  .todo-input-text {
    flex: 3;
      
    input {
      @include decoration;

      text-align: left;
      border: 1px solid $grey;
      background-color: $white;
      color: $black;
      font-size: 17px;
      padding: 15px 10px;      
      margin: 0 auto;
    }
  }

  .todo-button-add {
    flex: 1;

    button {
      min-width: 80px;
      border: 1px solid $grey;
      border-left: 0;
      border-radius: 0;
      color: $grey;
      font-weight: bold;
      margin: 0 auto !important;
    }
    button:hover {
      color: $black;
    }
  }
}

.todo-button-delete {
  button {
    min-width: 20px;
    font-size: 19px;
    border-radius: 5px;
    margin: 10px;
    padding: 0 8px;
    font-weight: bold;
    color: $grey;
    &:hover {
      color: $black;
    }
  }
}


