//Colors
$white: rgb(255, 255, 255);
$light: rgb(249, 243, 253);
$bright: rgb(185, 185, 185);
$grey: rgb(90, 90, 90);
$black: rgb(14, 14, 14);

//Variables

@mixin center {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@mixin decoration {
    display: inline-block;
    text-decoration: none;
    outline: none;
}